/* estilo da pagina contatos */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ruslan+Display&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--purple-la);
}
.menu img{
    height:15%;
    width: 12%;
}

.menu{
    font-size: 40px;
    list-style-type: none;
    display: flex;

    justify-content: space-between;
    background-color: #552583;
    box-shadow: 0 0 2rem #552583;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.menu a{
    font-family: 'Dancing Script';
    color: #FDB927;
    cursor: pointer;

    text-decoration: none;
}

   


footer{
    display:flex;
    align-items: center;
}